<section
  id="portfolio"
  class="d-flex justify-content-center align-items-center"
>
  <div class="container">
    <div
      class="wrapper d-flex flex-column align-items-center justify-content-center"
    >
      <h1 class="text-uppercase fs-1 fw-bolder text-center mb-3 mt-4">
        portfolio component
      </h1>
      <div class="d-flex align-items-center justify-content-center mb-3">
        <i class="fa-solid fa-star"></i>
      </div>
      <div class="row g-5 mb-5">
        @for (image of images; track $index) {
        <div class="col-12 col-md-6 col-lg-4">
          <div class="inner">
            <figure
              class="overflow-hidden rounded-3 m-0 position-relative"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="modalImage = image"
            >
              <img [src]="image" [alt]="image.slice(1, 6)" class="w-100" />
              <div
                class="overlay-layer d-flex justify-content-center align-items-center position-absolute top-0 w-100 h-100 bg-overlay bg-opacity-75 text-white"
              >
                <i class="fa-solid fa-plus fa-6x"></i>
              </div>
            </figure>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
<app-modal>
  <img [src]="modalImage" [alt]="modalImage.slice(1, 6)" class="w-100" />
</app-modal>
