#home {
  background-color: var(--main-color);
  min-height: 28.8125rem;
}
#home .container .wrapper figure {
  width: 15.625rem;
  height: 16.5716rem;
  min-width: 15.625rem;
  min-height: 16.5716rem;
  max-width: 15.625rem;
  max-height: 16.5716rem;
}
#home .container .wrapper .home-content h1 + div::before {
  content: "";
  width: 5rem;
  height: 0.25rem;
  background-color: white;
  margin-right: 1rem;
  display: block;
}
#home .container .wrapper .home-content h1 + div::after {
  content: "";
  width: 5rem;
  height: 0.25rem;
  background-color: white;
  margin-left: 1rem;
  display: block;
}
