<section id="get-in-touch">
  <div class="container">
    <div class="row text-center gy-5 m-4">
      <div class="col-12 col-md-4">
        <div class="inner text-white">
          <h3 class="text-uppercase">location</h3>
          <span class="d-block mb-3">2215 John Daniel Drive </span>
          <span class="d-block mb-3">Clark, MO 65243 </span>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="inner text-white">
          <h3 class="text-uppercase">around the web</h3>
          <ul class="list-unstyled d-flex justify-content-center">
            <li>
              <i class="fa-brands fa-facebook mx-1 rounded-circle"></i>
            </li>
            <li>
              <i class="fa-brands fa-twitter mx-1 rounded-circle"></i>
            </li>
            <li>
              <i class="fa-brands fa-linkedin-in mx-1 rounded-circle"></i>
            </li>
            <li>
              <i class="fa-solid fa-globe mx-1 rounded-circle"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="inner text-white">
          <h3 class="text-uppercase">about freelancer</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
