#get-in-touch {
  padding: 2.5rem;
  background-color: var(--get-in-touch-bg-color);
}
#get-in-touch .container .row div:nth-child(2) .inner ul li i {
  width: fit-content;
  padding: 0.625rem;
  border: 0.0417rem white solid;
}
